<div id="filterrific_results">

  <div>
    <%= page_entries_info users %>
  </div>

<% @users.each do |user| %>
	<% if user.coach? %>
    	<h1><%= user.fname %> <%= user.lname %></h1>
      	<h2><%= user.mother_tongue %></h2>
    	<center>
      		<p><%= user.postal_code %> <%= user.locality %></p>

      		<p><a href="http://localhost:3000/posts/13">En savoir plus</a></p>
    	</center>
  <% end %>
<% end %>
</div>


<%= will_paginate users %>