<% provide(:title, "Paramètres") %>
<script type="text/javascript">
$(document).ready(function() {
    $("#tabs").tabs();
});
</script>

<h1>Mettre à jour votre profil</h1>

<div id="content">
  <div id="tabs">
    <ul> 
      <li><a href="#tabs-1">Profil voyageur</a></li>
      <li><a href="#tabs-2">Profil coach</a></li>
      <li><a href="#tabs-3">Disponibilités</a></li>
    </ul>
    <div id="tabs-1">
      <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for (@user), :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :photo, "Photo :" %>
      <%= f.file_field :photo, class: 'form-control' %>

      <%= f.label :fname , "Prénom :" %>
      <%= f.text_field :fname, class: 'form-control' %>

      <%= f.label :lname, "Nom :" %>
      <%= f.text_field :lname, class: 'form-control' %>

      <%= f.label :birthdate, "Date de naissance :" %>
        <%= f.date_select :birthdate, class: 'form-control' %>

      <%= f.label :mother_tongue, "Langue maternelle :" %>
      <%= f.text_field :mother_tongue, class: 'form-control' %>

      <%= f.label :spoken_language_ids, "Autres langues parlées :" %>
      <%= f.collection_check_boxes :spoken_language_ids, SpokenLanguage.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>

      <%= f.label :email, "Email :" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Mot de passe :" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Enregistrer les changements", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
    </div>
    <div id="tabs-2">
      <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for (@user), :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :phone, "Téléphone :" %>
      <%= f.phone_field :phone, class: 'form-control' %>

  <div class="field">
    <%= f.label 'Adresse' %>
    <%= f.text_field :address, placeholder: "Entrez votre adresse", id: :autocomplete_address %>
  </div>

  <div class="field">
    <%= f.label 'N° de voie' %>
    <%= f.number_field :street_number, id: :street_number %>
  </div>

  <div class="field">
    <%= f.label 'Nom de la voie' %>
    <%= f.text_field :route, id: :route %>
  </div>

  <div class="field">
    <%= f.label 'Ville' %>
    <%= f.text_field :locality, id: :locality %>
  </div>

  <div class="field">
    <%= f.label 'Région' %>
    <%= f.text_field :administrative_area_level_1, id: :administrative_area_level_1 %>
  </div>

  <div class="field">
    <%= f.label 'Pays' %>
    <%= f.text_field :country, id: :country %>
  </div>

  <div class="field">
    <%= f.label 'Code postal' %>
    <%= f.number_field :postal_code, id: :postal_code %>
  </div>

      <%= f.submit "Enregistrer les changements", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
  <div id="tabs-3">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= month_calendar events: @availabilities do |date, availabilities| %>
        <%= date.day %>

        <% availabilities.each do |availability| %>
      <div>
        <%= availability.name %>
        <%= link_to "Editer", edit_availability_path(availability)  %>
      </div>
        <% end %>
        <% end %>
        <%= link_to "Voir toutes les disponibilités", availabilities_path  %><br>
        <%= link_to "Ajouter une disponibilité", new_availability_path  %>
      </div>
    </div>
  </div>
  </div>
</div>