<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>

<% provide(:title, 'Liste des utilisateurs') %><br><br><br>
<h1>Liste des utilisateurs :</h1>

<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
<div>
  Langue :
  <%= f.text_field(
  :with_mother_tongue,
  class: 'mother_tongue filterrific-periodically-observed'
) %>
</div>
<div>
  Ville :
    <%= f.text_field(
  :with_locality,
  class: 'locality filterrific-periodically-observed'
) %>
</div>
<div>
  Date de départ :
    <%= f.text_field :with_start_time_gte, 'data-provide' => 'datepicker' %>
</div>
  <%= f.submit 'Rechercher' %>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>

  <%= render_filterrific_spinner %>
<% end %>

<% if @current_user && @current_user.admin? %>
  <%= render 'user' %>
<% else %>
  <%= render(
    partial: 'users/list',
    locals: { users: @users }
  ) %>
<% end %>