<% provide(:title, 'Profil') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <%= link_to image_tag(@user.photo.url(:thumb)), @user.photo.url %><br><br>
    <h1><%= @user.fname %> <%= @user.lname %><% if @user.coach %> (Coach) <% end %></h1>
		<h2><%= @user.email %></h2><br>
		<p>Age :  <%= @user.age %> ans</p>
		<p>Langue maternelle : <%= @user.mother_tongue %></p>
		<p>Autres langues parlées : <%= @user.spoken_languages.map(&:name).sort.join(", ") %></p>
		
		<%= link_to "Editer le profil", edit_user_path(current_user) %>
    </section>
  </aside>
</div>