<h1><%= @post.user.fname %> <%= @post.user.lname %>, <%= @post.user.age %> ans</h1>
<h2>Coach d'<%= @post.user.mother_tongue %></h2>
<p><%= @post.user.spoken_languages.map(&:name).sort.join(", ") %></p>
<p><%= @post.price %>€ / jour</p><br>

<p> <%= @post.user.fname %> en quelques mots :<br>
	<%= @post.content %></p>

<p>HEBERGEMENT :<br>
	<%= @post_attachments.build %></p>

<%= link_to "Contacter #{@post.user.fname}", '#' %><br><br>

<% if current_user.heart?(@post) %>
  <%= link_to "Unheart", unheart_path(post_id: @post.id), remote: true, method: :delete  %>
<% else %>
  <%= link_to "Heart", heart_path(post_id: @post.id), remote: true  %>
<% end %><br><br>

<% if @current_user == @post.user %>
	<%= link_to "Editer", edit_post_path(@post) %>
	<%= link_to "Supprimer", @post, method: :delete, data: { confirm: "Êtes-vous sûr?" }%>
<% end %>